*{
  margin: 0
}

.container_alfred_convidados{
  height: 300vh;
  background-image: url('alfred_bg.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}


.bat{
  height: 50px;
  scale: 30%;
  /* mix-blend-mode: soft-light; */
  transform: scale(2.5) rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.bats {
  position: fixed;
  top: 10;
  left: 0;
  z-index: 3;
  mix-blend-mode: overlay;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bat:hover {
  cursor: pointer;
  transform: scale(2.5) rotate(180deg);
  mix-blend-mode: luminosity;
  transition: transform 0.5s ease-in-out;
}


.guests_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 4;
  position: relative;
  min-width: 100%;
  max-height: 50vh;
  margin-top: 5vh;
  scale: 90%;
}

.title{
  font-family: monospace;
  color: #ffd400;
  text-transform: uppercase;
  text-align: center;
  background-color: #32332e;
  margin-top: 2vh;

}