*{
    margin: 0;
}

.container_fox_home{
    height: 100vh;
    background-color: black;
    background-image: url('fox_home_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.welcome_div{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}