html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.login_background{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.login_box{
  background-color: azure;
  padding: 20px;
  min-width: 300px;
  height: 70%;
  width: 25%;
  border: 1px solid #0f0c29;
  border-radius: 20px;
  overflow: hidden;
}

.item_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  height: 100px;
  color: #24243e;
}

.title{
  font-size: 30px;
  color: #0f0c29;
  font-family: monospace;
  text-transform: uppercase;

}

.msg{
  margin-bottom: 70px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  background-color: aliceblue;
  color: #24243e;

}

strong{
  font-weight: bolder;
  color: #0f0c29;
  font-size: large;

}